    header {
        background-color: rgb(243, 1, 1);
        color:black;
    }

    body {
        background-color: blue;
        color:azure
    }

    footer {
        background-color: aqua;
        color:aquamarine
    }
        .imagem-2{
            width:40%;
            align-items: conter;
            margin-left: 200px;
        }
